<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.simpleui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="15"/>

    <application
        android:icon="@drawable/icon"
        android:label="SimpleUI" >
        <activity
            android:name="v1.V1SimpleUI"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="v2.simpleUi.SimpleUI"
            android:theme="@android:style/Theme.Translucent" />
    </application>
    <application>
    </application>

</manifest>