<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.simpleui.library"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <application android:name="simpleui.util.SimpleUiApplication" >

        <!-- Activty templates to copy to you app manifest file -->

        <!-- Simple UI -->
        <activity android:name="simpleui.SimpleUI" android:theme="@style/LTheme"/>
        
        <activity
            android:name="simpleui.util.ErrorHandler"
            android:process=":myexeptionprocess"
            android:taskAffinity="tools.ErrorHandler" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="errors/myUnhandleCatcher" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>